@page "/projects"
@using Firebase.Database
@using Firebase.Database.Streaming
@using Firebase.Realtime.BlazorServer.Example.Data
@inject FirebaseClient _firebase;

<PageTitle>Projects</PageTitle>

<div class="projects">
    @foreach (var (_, project) in _projects)
    {
        <div class="project">
            @if (!string.IsNullOrWhiteSpace(project.Url))
            {
                <img class="project-image" src=@project.Url alt=@project.Name />
            }
            <h1>@project.Name</h1>
            <p>@project.Description</p>
        </div>
    }
</div>

@code {

    private readonly Dictionary<string, ProjectDto> _projects = new();

    protected override async Task OnInitializedAsync()
    {
        _firebase
            .Child("projects")
            .AsObservable<ProjectDto>()
            .Subscribe(OnProjectsChanged);
    }
    
    private void OnProjectsChanged(FirebaseEvent<ProjectDto> projectEvent)
    {
        switch (projectEvent.EventType)
        {
            case FirebaseEventType.Delete:
                RemoveProject(projectEvent.Key);
                break;
            case FirebaseEventType.InsertOrUpdate:
                AddProject(projectEvent); 
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
        
        InvokeAsync(StateHasChanged);
    }

    private void RemoveProject(string key)
    {
        if (_projects.ContainsKey(key))
            _projects.Remove(key);
    }
    
    private void AddProject(FirebaseObject<ProjectDto> project) => _projects[project.Key] = project.Object;
}